@charset "UTF-8";
/*-----------------------------------*  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -20px;
}

.row--2-of-2, .row--3-of-3, .row--4-of-4, .row--5-of-5, .row--6-of-6, .row--8-of-8, .row--12-of-12 {
  width: 100%;
}

.row--1-of-2, .row--2-of-4, .row--3-of-6, .row--4-of-8, .row--6-of-12 {
  width: 50%;
}

.row--1-of-3, .row--2-of-6, .row--4-of-12 {
  width: 33.33333%;
}

.row--2-of-3, .row--4-of-6, .row--8-of-12 {
  width: 66.66667%;
}

.row--1-of-4, .row--2-of-8, .row--3-of-12 {
  width: 25%;
}

.row--3-of-4, .row--6-of-8, .row--9-of-12 {
  width: 75%;
}

.row--push-2-of-2, .row--push-3-of-3, .row--push-4-of-4, .row--push-5-of-5, .row--push-6-of-6, .row--push-8-of-8, .row--push-12-of-12 {
  margin-left: 100%;
}

.row--push-1-of-2, .row--push-2-of-4, .row--push-3-of-6, .row--push-4-of-8, .row--push-6-of-12 {
  margin-left: 50%;
}

.row--push-1-of-3, .row--push-2-of-6, .row--push-4-of-12 {
  margin-left: 33.33333%;
}

.row--push-2-of-3, .row--push-4-of-6, .row--push-8-of-12 {
  margin-left: 66.66667%;
}

.row--push-1-of-4, .row--push-2-of-8, .row--push-3-of-12 {
  margin-left: 25%;
}

.row--push-3-of-4, .row--push-6-of-8, .row--push-9-of-12 {
  margin-left: 75%;
}

.row--pull-2-of-2, .row--pull-3-of-3, .row--pull-4-of-4, .row--pull-5-of-5, .row--pull-6-of-6, .row--pull-8-of-8, .row--pull-12-of-12 {
  margin-left: -100%;
}

.row--pull-1-of-2, .row--pull-2-of-4, .row--pull-3-of-6, .row--pull-4-of-8, .row--pull-6-of-12 {
  margin-left: -50%;
}

.row--pull-1-of-3, .row--pull-2-of-6, .row--pull-4-of-12 {
  margin-left: -33.33333%;
}

.row--pull-2-of-3, .row--pull-4-of-6, .row--pull-8-of-12 {
  margin-left: -66.66667%;
}

.row--pull-1-of-4, .row--pull-2-of-8, .row--pull-3-of-12 {
  margin-left: -25%;
}

.row--pull-3-of-4, .row--pull-6-of-8, .row--pull-9-of-12 {
  margin-left: -75%;
}

.row--1-of-5 {
  width: 20%;
}

.row--push-1-of-5 {
  margin-left: 20%;
}

.row--pull-1-of-5 {
  margin-left: -20%;
}

.row--2-of-5 {
  width: 40%;
}

.row--push-2-of-5 {
  margin-left: 40%;
}

.row--pull-2-of-5 {
  margin-left: -40%;
}

.row--3-of-5 {
  width: 60%;
}

.row--push-3-of-5 {
  margin-left: 60%;
}

.row--pull-3-of-5 {
  margin-left: -60%;
}

.row--4-of-5 {
  width: 80%;
}

.row--push-4-of-5 {
  margin-left: 80%;
}

.row--pull-4-of-5 {
  margin-left: -80%;
}

.row--1-of-6 {
  width: 16.66667%;
}

.row--push-1-of-6 {
  margin-left: 16.66667%;
}

.row--pull-1-of-6 {
  margin-left: -16.66667%;
}

.row--5-of-6 {
  width: 83.33333%;
}

.row--push-5-of-6 {
  margin-left: 83.33333%;
}

.row--pull-5-of-6 {
  margin-left: -83.33333%;
}

.row--1-of-8 {
  width: 12.5%;
}

.row--push-1-of-8 {
  margin-left: 12.5%;
}

.row--pull-1-of-8 {
  margin-left: -12.5%;
}

.row--3-of-8 {
  width: 37.5%;
}

.row--push-3-of-8 {
  margin-left: 37.5%;
}

.row--pull-3-of-8 {
  margin-left: -37.5%;
}

.row--5-of-8 {
  width: 62.5%;
}

.row--push-5-of-8 {
  margin-left: 62.5%;
}

.row--pull-5-of-8 {
  margin-left: -62.5%;
}

.row--7-of-8 {
  width: 87.5%;
}

.row--push-7-of-8 {
  margin-left: 87.5%;
}

.row--pull-7-of-8 {
  margin-left: -87.5%;
}

.row--1-of-12 {
  width: 8.33333%;
}

.row--push-1-of-12 {
  margin-left: 8.33333%;
}

.row--pull-1-of-12 {
  margin-left: -8.33333%;
}

.row--2-of-12 {
  width: 16.66667%;
}

.row--push-2-of-12 {
  margin-left: 16.66667%;
}

.row--pull-2-of-12 {
  margin-left: -16.66667%;
}

.row--5-of-12 {
  width: 41.66667%;
}

.row--push-5-of-12 {
  margin-left: 41.66667%;
}

.row--pull-5-of-12 {
  margin-left: -41.66667%;
}

.row--7-of-12 {
  width: 58.33333%;
}

.row--push-7-of-12 {
  margin-left: 58.33333%;
}

.row--pull-7-of-12 {
  margin-left: -58.33333%;
}

.row--10-of-12 {
  width: 83.33333%;
}

.row--push-10-of-12 {
  margin-left: 83.33333%;
}

.row--pull-10-of-12 {
  margin-left: -83.33333%;
}

.row--11-of-12 {
  width: 91.66667%;
}

.row--push-11-of-12 {
  margin-left: 91.66667%;
}

.row--pull-11-of-12 {
  margin-left: -91.66667%;
}

.row {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}

@media (max-width: 700px) {
  .row {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 700px) and (min-width: 480px) {
  .row[class*="row--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .row.row--m-1-of-2, .row.row--m-2-of-4 {
    width: 50%;
  }
  .row.row--m-1-of-3 {
    width: 33.33333%;
  }
  .row.row--m-2-of-3 {
    width: 66.66667%;
  }
  .row.row--m-1-of-4 {
    width: 25%;
  }
  .row.row--m-3-of-4 {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .row[class*="row--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .row.row--s-1-of-2, .row.row--s-2-of-4 {
    width: 50%;
  }
  .row.row--s-1-of-3 {
    width: 33.33333%;
  }
  .row.row--s-2-of-3 {
    width: 66.66667%;
  }
  .row.row--s-1-of-4 {
    width: 25%;
  }
  .row.row--s-3-of-4 {
    width: 75%;
  }
}

.row--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row--d-first {
  float: left;
}

.row--d-last {
  float: right;
}

.row--no-gutter {
  margin-left: 0;
  width: 100%;
}

.row--no-gutter .row {
  padding-left: 0;
}

.row--no-gutter .row--span-all {
  margin-left: 0;
  width: 100%;
}

.row--ab {
  vertical-align: bottom;
}

.row--am {
  vertical-align: middle;
}
