$icomoon-font-path: "fonts" !default;

$icon-forward: "\e900";
$icon-envelope: "\e901";
$icon-user: "\e902";
$icon-tag: "\e903";
$icon-heart: "\e904";
$icon-eye: "\e905";
$icon-cancel: "\e906";
$icon-cross: "\e907";
$icon-plus: "\e908";
$icon-left: "\e909";
$icon-up: "\e90a";
$icon-windows: "\e90b";
$icon-play: "\e90c";
$icon-refresh: "\e90d";

